{% extends 'myadmin/index.html' %}
{% load myadmin_tags %}

{% block  right-content-container %}

    <ol class="breadcrumb">
      <li><a href="/myadmin/">Home</a></li>
      <li><a href="/myadmin/{{ app_name }}">{{ app_name }}</a></li>
        <li ><a href="/myadmin/{{ app_name }}/{{ model_name }}/">{% get_model_verbose_name admin_class %}</a></li>
      <li class="active">Add {{ model_name }} </li>
    </ol>


<h2 class="page-header">{% get_model_name admin_class %}</h2>
<h4 class="page-header">修改   {{ form_obj.instance }}  信息</h4>

<div>

    <!--{{ form_obj}}-->

    {% include 'myadmin/table_obj_change_component.html' %}







</div>

{% endblock %}